# Include everything the framework requires
# You will automatically get updates for all versions starting with "1.".
rlbot==1.*
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==1.9.1+cpu
rlgym
stable_baselines3
stable_baselines3[extra]
rlgym-compat
numpy

# This will cause pip to auto-upgrade and stop scaring people with warning messages
pip
